<h3><%= t('comments.comments') %></h3>
<% commentable.comments.each do |comment| %>
  <tbody>
  <tr>
    <td>
      <% if comment.user.avatar.attached? %>
        <%= image_tag comment.user.avatar.variant(resize: '80x80').processed, class: "rounded-circle px-3" %>
      <% end %>
    </td>
    <td><%= link_to comment.user.name, user_path %>
      <p>
        <%= comment.content %>
      </p>
    </td>
    <% if comment.user == current_user %>
      <td><%= link_to t('books.book.edit'), [:edit, commentable, comment], class: "btn btn-outline-secondary", id: "comment" %></td>
      <td>
        <%= link_to t('books.book.destroy'), [commentable, comment], method: :delete, data:
            {confirm: t('books.book.confirm'),
             cancel: t('books.book.cancel'),
             commit: t('books.book.commit')}, title: t('books.book.warning'), class: "btn btn-outline-secondary" %>
      </td>
    <% end %>
  </tr>
  </tbody>
<% end %>
