<h1><%= "#{@user.name}" + t('users.show.profile') %></h1>

<%= render "users/show_list" %>

<div class="my-5">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize:'100x100').processed, class: "rounded-circle px-3" %>
  <% end %>
  <%= @user.name %>
</div>

<div class="profile">
  <ul class="list-group">
    <li class="list-group-item"><%= t('activerecord.attributes.user.name') + "：#{@user.name}" %>
    <li class="list-group-item"><%= t('activerecord.attributes.user.email') + "：#{@user.email}" %>
    <li class="list-group-item"><%= t('activerecord.attributes.user.postal_code') + "：#{@user.postal_code}" %>
    <li class="list-group-item"><%= t('activerecord.attributes.user.address') + "：#{@user.address}" %>
    <li class="list-group-item"><%= t('activerecord.attributes.user.introduction') + "：#{@user.introduction}" %>
  </ul>
  <% if current_user?(@user) %>
    <a href="<%= user_followings_path(@user) %>", class="mr-3">
      <strong>
        <%= @user.following.count %>
      </strong>
      <%= t('.following') %>
    </a>
    <a href="<%= user_followers_path(@user) %>">
      <strong>
        <%= @user.followers.count %>
      </strong>
      <%= t('.followers') %>
    </a>
  <% end  %>
  <%= render 'follow_form' if user_signed_in? %>
</div>

<div>
  <% if current_user?(@user) %>
    <%= link_to t('.edit'), edit_user_registration_path, class: "btn btn-primary"  %>
  <% end %>
  <%= link_to t('.back'), users_path, class: "btn btn-secondary" %>
</div>
  <% if @user.books.any? %>
  <h1 class="py-3"><%= t('.posters') %></h1>
  <%= render 'books/book' %>
  <% end %>
