<div class="text-right">
  <%= link_to t('books.index.new book'), new_book_path, class: "btn btn-primary mb-4" %>
</div>
<h1 class="mb-5"><%= "#{@user.name}" + t('users.show_book.books') %></h1>
<div>
  <table class="table">
    <thead>
    <tr>
      <th><%= t '.title' %></th>
      <th><%= t '.memo' %></th>
      <th><%= t '.author' %></th>
      <th><%= t '.picture' %></th>
      <th><%= t '.poster' %></th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <%= render partial: "books/book", collection: @books %>
  </table>
</div>
<%= paginate @books%>
