<%= form_with(model: book, local: true) do |form| %>
<% if book.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

  <ul>
    <% book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <%= form.label :title, class: "col-form-label col-sm-1" %>
  <div class="col-sm-6">
    <%= form.text_field :title, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :memo, class: "col-form-label col-sm-1" %>
  <div class="col-sm-6">
    <%= form.text_area :memo, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= form.label :author, class: "col-form-label col-sm-1" %>
  <div class="col-sm-6">
    <%= form.text_area :author, class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-1">
    <%= t'.picture' %>
  </div>
  <div class="col-sm-6">
    <label class="btn btn-outline-secondary"><%= t'.upload' %>
      <%= form.file_field :picture, id: :book_picture, style: "display: none;" %>
    </label>
  </div>
</div>

<button class="actions btn btn-secondary"><%= t'.create books' %>
  <%= form.submit 'create', style: "display: none;" %>
</button>
<% end %>