
<div class="row justify-content-center">
<div class="col-md-6 col-md-offset-3">
  <%= form_with(model: book, local: true) do |form| %>
    <%= render 'error_messages' %>

    <%= form.label :title%>
    <%= form.text_field :title, class: "form-control" %>

    <%= form.label :memo %>
    <%= form.text_area :memo, class: "form-control" %>

    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control" %>

    <%= t'.picture' %>
    <label class="btn btn-outline-secondary"><%= t'.upload' %>
      <%= form.file_field :picture, id: :book_picture, style: "display: none;" %>
    </label>

  <%= form.submit t('books.form.create'), class: "btn btn-primary" %>
<% end %>
</div>
</div>
