<tbody>
<tr>
  <td>
    <% if report.user.avatar.attached? %>
      <%= image_tag report.user.avatar.variant(resize: '80x80').processed, class: "rounded-circle px-3" %>
    <% end %>
  </td>
  <td><%= link_to report.title, report %>
    <p>
      <%= t('reports.show.posted') + ' ' + time_ago_in_words(report.created_at) + t('reports.show.ago') %>
    </p>
  </td>
  <td><%= link_to t('books.book.show'), report, class: "btn btn-outline-secondary" %></td>
  <% if report.user == current_user %>
    <td><%= link_to t('books.book.edit'), edit_report_path(report), class: "btn btn-outline-secondary" %></td>
    <td>
      <%= link_to t('books.book.destroy'), report, method: :delete, data:
          {confirm: t('books.book.confirm'),
           cancel: t('books.book.cancel'),
           commit: t('books.book.commit')}, title: t('books.book.warning'), class: "btn btn-outline-secondary" %>
    </td>
  <% end %>
</tr>
</tbody>
