<h2><%= link_to @report.user.name, @report.user %></h2>
<h3><%= t('users.reports.report') %></h3>
<p>
  <strong><%= t 'reports.show.title' %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t 'reports.show.content' %>:</strong>
  <%= @report.content %>
</p>

<%= link_to t('reports.show.edit'), edit_report_path(@report), class: "btn btn-primary" if @report.user == current_user %>
<%= link_to t('books.show.back'), reports_path, class: "btn btn-secondary" %>

<div class="my-5">
<table>
  <%= render partial: "comments/comments", locals: {commentable: @report} %>
</table>
</div>
<%= render partial: "comments/form", locals: {commentable: @report } %>
